.tile{
    height: 80px;
    width: 80px;
    border-style: solid;
    float: left;
    padding: 0;
}
.placeBoardContainer{
   width: 760px;
   height: 600px;
   align-self: center;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.placed{
    border-style: solid;
    height: 80px;
    width: 80px;
    float: left;
    background-color: grey;
}
.playerBoard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    position: absolute;
    max-width: 760px;
    min-width: 760px;
    min-height: 600px;
    max-height: 600px;
    width: 760px;
    height: 600px;
    top: 150px;
    left: 100px;
 }
 .box{
     position: absolute;
     left: 790px;
     height: 100px;
     width: 300px;
     border-style: solid;
 }
 .computerBoard{
     display: grid;
     max-width: 760px;
     min-width: 760px;
     min-height: 600px;
     max-height: 600px;
     top: 150px;
     left: 1100px;
     position: absolute;
     width: 760px;
     height: 600px;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 }
 .correct{
    height: 80px;
    width: 80px;
    background-color: lightgreen;
    border-style: solid;
    float: left
 }
 .miss{
    height: 80px;
    width: 80px;
    background-color: rgb(230, 41, 16);
    border-style: solid;
    float: left
 }
 .shucks{
    height: 80px;
    width: 80px;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    float: left
 }
 .container_main{
    display: flex;
    padding-left: 10vw;
 }
 .selection_box{
    margin-left: 5vw;
 }
 .turd_container{
    display: flex;
    flex-direction: column;
 }